a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
  }
nav, scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}
nav {
    width: 800px;
    padding: 5px;
    border: 1px solid black;
}
scroll-container {
    display: block;
    width: 1200px;
    height: 800px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: white;
}
scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1em;
}

.wrapper {
    display: grid;
}

.planetWrapper {
    display: grid;
}

body {
    background-image: url("../assets/galaxy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

