
a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
  }
nav, scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}
nav {
    width: 900px;
    padding: 5px;
    border: 1px solid black;
    background-color: black;
    border-radius: 15px;
}
scroll-container {
    display: block;
    width: 800px;
    height: 650px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}
scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1em;
}

.wrapper {
    display: grid;
}

.planetWrapper {
    display: grid;
}

body {
    background: url("https://e3.365dm.com/18/05/1096x616/skynews-stars-galaxy_4311979.jpg?20180516185457") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

.planetImage {
    width: 300px;
    height: 300px;
}

.mainLinks {
    font-family: 'Anton', sans-serif;
    color: white;
}

.planetTag {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

#mainTextHeader {
    padding-bottom: 150px;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

#mainPageHeader {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    background-color: black;
}

#headerText {
    text-align: center;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #471f60; 
    border-radius: 10px;
}

input, option, select, button{
    background-color: #0a0630;
    color: white;
}

input:focus {
    background-color: #0a0630;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #0a0630 inset;
  transition: background-color 5000s ease-in-out 0s;
}
